.about__title {
    font-family: Caveat Brush;
    font-weight: 400;
    font-size: 24px;
    line-height: 2.71;
    text-align: center;
    color: var(--main-text-color);

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.about__text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main-text-color);
 
}

.btn-more {
    font-family: Caveat Brush;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 3.61;
    text-align: center;
    color: var(--button-color);

    border: none;
    background-color: transparent;
}