@import './reviews';
@import './registration';
@import './contact';
@import './footer';

.background {
  position: absolute;
  width: 100%;
  // background-image: url(../images/mobile/reviews-background_mobile@test.png);
  background-image: url(../images/mobile/mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  // background-position: center top;
  z-index: -5;

  @media screen and (min-width: 380px) {
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    // background-image: url(../images/tablet/reviews-background_tablet@2x.png);
    background-image: url(../images/tablet/tablet.svg);
  }
  @media screen and (min-width: 1280px) {
    // background-image: url(../images/desktop/reviews-background_desktop@2x.png);
    background-image: url(../images/desktop/dectop.svg);
  }
  // @media screen and (min-width: 1120px) {
  //   // background-image: url(../images/desktop/reviews-background_desktop@2x.png);
  //   // background-image: url(../images/desktop/dectop.svg);
  //   background-size: cover;
  // }
}
