.contact-section {
  text-align: center;
}
.contact-section__title {
  margin-top: 27px;
  font-family: Caveat Brush, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;
}

.contact-section__subtitle {
  font-size: 16px;
  line-height: 4.06;
}

.form-fields {
  padding-right: 12px;
  padding-left: 12px;
}

.contact-form__input {
  width: 100%;
  border-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--button-color);
  color: var(--button-color);

  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(171, 129, 108, 0.5);
  }
}

.contact-form__input:not(:placeholder-shown):required:valid {
  border: 1px solid #008000;
}

.contact-form__input:not(:placeholder-shown):required:invalid {
  border: 1px solid #ff0000;
}

.contact-form__input:focus {
  outline: 2px solid #ab816c;
  border-bottom: none;
}

.contact-form__input:first-child {
  margin-bottom: 25px;
}

.contact-form__input:last-child {
  margin-bottom: 37px;
}

.contact-form__button {
  margin: 0 auto;
  border: 0;
}
