.contact-section {
  text-align: center;
}
.contact-section__title {
  font-family: Caveat Brush, sans-serif;
  font-weight: 400;
  font-size: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    margin-top: 51px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 77px;
    font-size: 36px;
    line-height: 1.8;
  }
}

.contact-section__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 4.06;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 3.61;
  }
}

.form-fields {
  margin: 0 auto;
  @media screen and (max-width: 767.99px) {
    padding-right: 12px;
    padding-left: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 410px;
  }

  @media screen and (min-width: 1200px) {
    width: 430px;
  }
}

.contact-form__input {
  width: 100%;
  border-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--button-color);
  color: var(--button-color);

  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(171, 129, 108, 0.5);
  }
}

.contact-form__input:not(:placeholder-shown):required:valid {
  border: 1px solid #008000;
}

.contact-form__input:not(:placeholder-shown):required:invalid {
  border: 1px solid #ff0000;
}

.contact-form__input:focus {
  outline: 2px solid #ab816c;
  border-bottom: none;
}

.contact-form__input:first-child {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.contact-form__input:last-child {
  margin-bottom: 37px;

  @media screen and (min-width: 768px) {
    margin-bottom: 27px;
  }
}

.contact-form__button {
  margin: 0 auto;
  border: 0;
}
