.footer {
  position: relative;
}

.icon {
  fill: var(--main-text-color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

.footer-social__item:not(:last-child) {
  margin-right: 9px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.contacts__icon {
  fill: var(--main-text-color);
}

.contacts__link {
  font-size: 16px;
  line-height: 1.25;
}

.footer__contacts::after {
  position: absolute;
  z-index: -1;

  left: 233px;
  transform: translateY(-30%);
  display: block;
  content: '';
  width: 113px;
  height: 99px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/mobile/footer_mobile.png);
}
