h1 {
  font-family: Caveat Brush;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
}
.bold {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
}

.italic {
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}
