.icon-close {
  display: none;
}
.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}
.icon {
    width: 30px;
    height: 30px;
}
.mobile-menu-btn {
  z-index: 100;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1179.98px) {
    top: 26px;
    right: 67px;
  }

}
.logo-page {
  margin-top: 7px;

  @media screen and (min-width: 768px) and (max-width: 1179.98px) {
    text-align: left;
    margin-top: 27px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 38px;
  }
}
.nav {
  display: flex;
  z-index: 3;

  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}
.nav-list__item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-text-color);
  display: flex;

  &:not(:last-child) {
    margin-right: 20px;
  }
}
.list-item {
  padding-top: 52px;
  padding-bottom: 52px;

  &:hover,
  &:focus {
    color: var(--button-color);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;

  @media screen and (min-width: 768.98px) and (max-width: 1279.98px) {
    padding-left: 68px;
  }
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
.nav-list {
  display: inline-flex;
}
.bg-img {
  position: absolute;
  z-index: -1;

  @media screen and (max-width: 767.98px) {
    top: 0;
    left: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    top: 0;
    right: 137px;
  }

  @media screen and (min-width: 1280px) {
    top: -0;
    right: 0;
  }
}

.logo-page__svg {
  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 71px;
  }
}
