.icon {
  width: 20px;
  height: 20px;
}
.icon-close {
  display: none;
}
.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}
.mobile-menu-btn {
z-index: 100;
width: 30px;
height: 30px;
background-color: transparent;
border: none;
position: fixed;
top: 5vw;
right: 5vw;

  @media screen and (min-width: 480px) and (max-width: 766.98px) {
    top: 2vw;
    right: 2vw;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
