.hero {
  padding-bottom: 5px;

  @media screen and (min-width: 767.99px) {
    padding-bottom: 90px;
  }

  @media screen and (min-width: 1279.98px) {
    position: relative;
    padding-bottom: 120px;

    &::before {
      content: '';
      position: absolute;
      width: 178px;
      height: 421px;
      left: 0px;
      top: 22px;

      background-image: url(../images/desktop/header-spoon_desktop.png);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/header-spoon_desktop@2x.png);
      }
    }
  }
}

.hero__title {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;

  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;

  @media screen and (min-width: 767.99px) {
    margin-left: 0px;
    text-align: start;
  }

  @media screen and (min-width: 1279.98px) {
    max-width: 490px;
    margin-bottom: 15px;

    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__subtitle {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  @media screen and (min-width: 767.99px) {
    margin-bottom: 26px;
    text-align: start;
  }

  @media screen and (min-width: 1279.98px) {
    max-width: 490px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.button__hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;

  @media screen and (min-width: 767.99px) {
    margin-left: 0px;
    margin-bottom: 31px;
  }

  @media screen and (min-width: 1279.98px) {
    margin-bottom: 65px;
  }
}

.social-links__hero {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: start;
    background-color: transparent;
  }
}
