.mobile-menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 90;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-color: rgba(254, 243, 228, 0.9);
  right: -100%;
  transition-duration: 250ms;

  &.is-open {
    right: 0;
  }
  @media screen and (min-width: 1279.98px) {
    display: none;
  }
}
.menu-item {
  text-align: center;
  margin-bottom: 45px;
}
.menu-item__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  display: block;
  color: var(--main-text-color);

  &:hover {
    color: #876655;
  }
}
.logo {
  margin-top: 25px;
  justify-content: center;
  text-align: center;
}
.mobile-menu__logo {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
