.registration {
  background-color: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.registration__header {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.7;
  padding-top: 15px;
  padding-bottom: 11px;
  text-align: center;
}
.registration__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.registration__text--info {
  margin-bottom: 25px;
}

.registration__text--price {
  margin-bottom: 31px;
}

.reg-text__thumb {
  width: 100%;
  position: relative;
}

.reg-text__thumb::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  border: none;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
}

.registration__label {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 17px;
}

.registration__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ab816c;
}

.registration__input:not(:last-child) {
  margin-bottom: 25px;
}

.registration__btn {
  margin-top: 37px;
  margin-bottom: 47px;
  // padding-top: 0;
  // padding-bottom: 0;
  // padding-left: 46px;
  // padding-right: 47px;
  min-width: 145px;
  height: 40px;

  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 3.6;

  text-align: center;

  color: #ffffff;

  background: #ab816c;
  border: none;
  border-radius: 25px;
}

::placeholder {
  font-family: Montserrat;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}
