.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.reviews__container {
  text-align: center;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1279px) {
    padding-bottom: 85px;
  }
  padding-bottom: 65px;
}

.reviews-wrapper {
  text-align: center;
  @media screen and (min-width: 767.99px) {
    display: flex;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1279px) {
    display: flex;
    justify-content: space-between;
  }
}

.reviews-wrapper__foto--center {
  @media screen and (min-width: 767px) {
    margin-top: 20px;
  }
}

.hide-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.reviews-section__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 0.75;
  // line-height: 2.71;
  text-align: center;

  margin-bottom: 15px;
}

.reviews__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 0.75;
  // line-height: 2.71;

  margin-bottom: 15px;
}

.reviews__picture {
  border-radius: 50%;

  @media screen and (max-width: 767.98) {
    max-width: 110px;
  }

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.rating-result__icon {
  width: 24px;
  height: 24px;
}

.rating-result__icon--checked {
  fill: var(--button-color);
}

.rating-result__icon--unchecked {
  fill: none;
  stroke: var(--button-color);
  stroke-width: 1.6842;
}

.rating-result__list {
  display: flex;
  justify-content: center;
  max-height: 24px;
}

.rating-result__item:not(:last-child) {
  margin-right: 4px;
}

.rating-result__reviews {
  margin-bottom: 12px;
}

.reviews__name {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  // line-height: 4.6;

  color: var(--main-text-color);

  margin-bottom: 15px;
}

.reviews__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 30px;
}

.reviews__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--button-color);
}

.reviews__number::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: currentColor;
}

.reviews__number::after {
  content: '';
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-left: 12px;
  vertical-align: middle;
  background-color: currentColor;
}
