@import './fonts';
@import './base';
@import './header';
@import './hero';
@import './mobile-menu';
@import './about-us';
@import './program';
@import './reviews';
@import './registration';
@import './contact';
@import './footer';
@import './components/slider';
