<section class="section contact-section">
    <div class="container">
        <h2 class="section__title">Contact</h2>
        <p class="section__text">We will answer any question!</p>
        <form class="contact-form" autocomplete="off">
            <label for="user-mail" class="contact-form__label">Email</label>
            <input class="contact-form__input" type="email" name="user_mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                id="user-mail"/>
            <label for="user-message" class="contact-form__label">Type your question</label>
            <textarea class="contact-form__input" name="user_message" rows="" id="user-message"
                    placeholder=""></textarea>
            <button class="button contact-form__button" type="submit">Send</button>
        </form>
    </div>
</section>