<section class="section contact-section">
    <div class="container">
        <h2 id="contact" class="section__title">Contact</h2>
        <h3 class="section__subtitle">We will answer any question!</h3>
        <form class="contact-form" autocomplete="off">
            <div class="form-fields">
                <input class="contact-form__input" type="email" name="user_mail"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" />
                <input class="contact-form__input" type="text" name="user_message" 
                placeholder="Type your question" />
            </div>
            <button class="button contact-form__button" type="submit">Send</button>
        </form>
    </div>
</section>