<footer class="footer">
    <div class="container footer__container">
        <ul class="social-links list footer-social__list">
            <li class="social-links__item">
                <a class="link social-links__link footer-social__link" href="http://" target="_blank" rel="noreferrer noopener">
                    <svg class="social-links__icon" width=18.95 height=15>
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links__item">
                <a class="link social-links__link footer-social__link" href="http://" target="_blank" rel="noreferrer noopener">
                    <svg class="social-links__icon" width=15 height=15>
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-links__item">
                <a class="link social-links__link footer-social__link" href="http://" target="_blank" rel="noreferrer noopener">
                    <svg class="social-links__icon" width=8.11 height=15>
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <ul class="list footer__contacts">
            <li class="contacts__item">
                <a class="link contacts__link" href="tel:(910)222-8855">
                    <svg class="contacts__icon" width="13" height="13">
                        <use href="./images/icons.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855</a>
            </li>
            <li class="contacts__item">
                <a class="link contacts__link" href="https://goo.gl/maps/UPdW857vfM8CqwG19" target="_blank" rel="noopener noreferrer">
                    <svg class="contacts__icon" width="11" height="14">
                        <use href="./images/icons.svg#icon-location"></use>
                    </svg>
                    New York
                    </a>
            </li>
        </ul>
    </div>
</footer>
