<header>
  <div class="container">
    <div class="header">
      <div class="logo-page">
        <svg width="96" height="43">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </div>

      <nav class="nav">
        <ul class="nav-list list">
          <li class="nav-list__item"><a class="link" href="#about-us">About us</a></li>
          <li class="nav-list__item"><a class="link" href="#program">Program</a></li>
          <li class="nav-list__item"><a class="link" href="#reviews">Reviews</a></li>
          <li class="nav-list__item"><a class="link" href="#contact">Contacts</a></li>
        </ul>
      </nav>
    </div>

    <button class="mobile-menu-btn" data-menu-button>
      <svg class="icon">
        <use class="icon-menu" href="./images/icons.svg#icon-menu"></use>
        <use class="icon-close" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
