<div class="container">
  <h1>Заголовок</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum cupiditate perspiciatis unde
    voluptas asperiores. Rem quaerat rerum dolores doloribus illo, inventore a quisquam at dolorum
    voluptatibus facilis. Veritatis, quis aperiam.
  </p>
  <p class="bold">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rem saepe perferendis
    eaque odio. Est animi vitae iste omnis. Architecto eveniet odio assumenda mollitia aut voluptas
    deleniti error repudiandae ea.
  </p>
  <p class="italic">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta illum non saepe quas rem minus
    ut natus corrupti iure suscipit sunt dignissimos atque repellat, distinctio quidem aspernatur
    error perspiciatis. Quos!
  </p>
</div>
