<section class="program" id="program">
    <div class="container program__container">
        <div class="program__section">
            <h2 class="program__title">Program</h2>
            <p class="program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York donut shop!</p>
            <ul class="list program__list">
                <li class="program__item">A stand up history of donuts</li>
                <li class="program__item">Make 3 donut flavors of your choice</li>
                <li class="program__item">Enjoy all-you-can-eat donuts</li>
                <li class="program__item">Cocktail pairings and coffee included</li>
                <li class="program__item">Photoshoot by professional photographer</li>
                <li class="program__item">Secret receipt of cooking from Eva</li>
                <li class="program__item">All products are included in the price</li>
            </ul>
            <button class="program__button" type="button">Read more</button>
            <p class="program__more">Come with your dear people and friends and you will spend an unforgettable time and will become a real professional in donuts cooking!</p>
            <button class="program__button program__button--click" type="button">Less</button>
        </div>
        <div class="program__section">
            <ul class="list points-list">
                <li class="points-list__item">      
                    <div class="points-list__thumb">
                        <picture>
                            <source srcset="./images/desktop/program-donut1_desktop.png 1x, /images/desktop/program-donut1_desktop@2x.png 2x"
                                type="image/png" media="(min-width: 1279.98px)">
                            <source
                                srcset="./images/mobile/program-donut1_mobile&tablet.png 1x, /images/mobile/program-donut1_mobile&tablet@2x.png 2x"
                                type="image/png" media="(max-width: 1279.97px)">
                            <img class="points-list__image" src="./images/mobile/program-donut1_mobile&tablet.png" alt="Пончик">
                        </picture>                    
                        <h3 class="points-list__title">Type of the event</h3>   
                    </div>
                    <span>Cooking classes</span>
                    <svg class="points-list__icon">
                        <use href="./images/icons.svg#icon-chef-hat"></use>
                    </svg>
                </li>
                <li class="points-list__item">
                    <div class="points-list__thumb">
                        <picture>
                            <source
                                srcset="./images/desktop/program-donut2_desktop.png 1x, /images/desktop/program-donut2_desktop@2x.png 2x"
                                type="image/png" media="(min-width: 1279.98px)">
                            <source
                                srcset="./images/mobile/program-donut2_mobile&tablet.png 1x, /images/mobile/program-donut2_mobile&tablet@2x.png 2x"                                
                                type="image/png" media="(max-width: 1279.97px)">
                            <img class="points-list__image" src="./images/mobile/program-donut2_mobile&tablet.png" alt="Пончик">
                        </picture>
                        <h3 class="points-list__title">Number of guests</h3>     
                    </div>
                    <span>1 to 20</span>
                    <svg class="points-list__icon">
                        <use href="./images/icons.svg#icon-people"></use>
                    </svg>
                </li>
                <li class="points-list__item">   
                    <div class="points-list__thumb">
                        <picture>
                            <source
                                srcset="./images/desktop/program-donut3_desktop.png 1x, /images/desktop/program-donut3_desktop@2x.png 2x"
                                type="image/png" media="(min-width: 1279.98px)">
                            <source
                                srcset="./images/mobile/program-donut3_mobile&tablet.png 1x, /images/mobile/program-donut3_mobile&tablet@2x.png 2x"
                                type="image/png" media="(max-width: 1279.97px)">
                            <img class="points-list__image" src="./images/mobile/program-donut3_mobile&tablet.png" alt="Пончик">
                        </picture>
                        <h3 class="points-list__title">Time of the event</h3> 
                    </div>
                    <span>18:30 (2.5 hours)</span>
                    <svg class="points-list__icon">
                        <use href="./images/icons.svg#icon-clock"></use>
                    </svg>
                </li>
                <li class="points-list__item"> 
                    <div class="points-list__thumb">
                        <picture>
                            <source
                                srcset="./images/desktop/program-donut4_desktop.png 1x, /images/desktop/program-donut4_desktop@2x.png 2x"
                                type="image/png" media="(min-width: 1279.98px)">
                            <source
                                srcset="/images/mobile/program-donut4_mobile&tablet.png 1x, /images/mobile/program-donut4_mobile&tablet@2x.png 2x"
                                type="image/png" media="(max-width: 1279.97px)">
                            <img class="points-list__image" src="./images/mobile/program-donut4_mobile&tablet.png" alt="Пончик">
                        </picture>
                        <h3 class="points-list__title">The host speaks</h3>
                    </div>
                    <span>English, French</span>
                    <svg class="points-list__icon">
                        <use href="./images/icons.svg#icon-chat"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>