<section id="Registration">
    <div class="container registration">
        
    <h2 class="registration__title">Registration</h2>
    
    <div class="reg-thumb">
        <p class="reg-thumb__text">May 23, 11:00
        New York</p>
        <p class="reg-thumb__text">$ 699</p>
    </div>
    <form class="registration__form">
        <label class="registration__label" >Apply your personal info
        for registration
        <div class="reg-inputs">
        <input class="reg-inputs__item" type="text" name="username" placeholder="Your name" required>
        <input class="reg-inputs__item" type="tel" name="phone" placeholder="Phone number" required>
        <input class="reg-inputs__item" type="email" name="email" placeholder="Email" required>
        </div>
        </label>
        <button class="registration__btn" type="submit">Register</button>
    </form>
    </div>


</section>