<section class="registration container ">
    <div class="registration__container">
    <h2 class="registration__header">Registration</h2>
    <div>
    <div>
        <p>May 23, 11:00
        New York</p>
        <p class="registration__text-price">$ 699</p>
    </div>
    <form>
        <label class="registration__label" for="username">Apply your personal info
        for registration</label>
        <input class="registration__input" id="username" type="text" name="username" placeholder="Your name">
        <input class="registration__input" type="tel" name="phone" placeholder="Phone number">
        <input class="registration__input" type="email" name="email" placeholder="Email">
        <button class="registration__btn" type="submit">Register</button>
    </form>
    </div>
</div>

</section>