<section id="Registration" >
    <div class="container all-registration">
        <h2 class="registration__title registration__title--mobile-hidden">Registration</h2>
        <div class="registration">
           
    <h2 class="registration__title registration__title--tablet-hidden">Registration</h2>
    
    <div class="reg-thumb">
        <p class="reg-thumb__text">May 23, 11:00
        New York</p>
        <p class="reg-thumb__text">$ 699</p>
    </div>
    <form class="registration__form" autocomplete="off">
       <div class="reg">
        <label class="reg__label" for="username" >Apply your personal info
        for registration</label>
        <div class="reg-inputs">
        <input class="reg-inputs__item" type="text" name="username" id="username" placeholder="Your name" required pattern="^[a-zA-Z\s]+$" title="Username should only contain letters of the Latin alphabet">
        <input class="reg-inputs__item" type="tel" name="phone" placeholder="Phone number" required pattern="[0-9]{10}" title="Phone number should only contain 10 numbers">
        <input class="reg-inputs__item" type="email" name="email" placeholder="Email" required >
        </div>
        </div>
                <button class="button registration__btn" type="submit">Register</button>
        </form>
    </div>
    </div>

</section>