<section class="reviews" id="reviews">
  <h2 class="reviews-section__title">Reviews</h2>
  <div class="container">
    <div class="slider">
      <div class="sleder__items">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews-will_desktop.jpg    1x,
              ./images/desktop/reviews-will_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/reviews-will_tablet.jpg    1x,
              ./images/tablet/reviews-will_tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/mobile/reviews-will_mobile.jpg    1x,
              ./images/mobile/reviews-will_mobile@2x.jpg 2x
            "
            media="(max-width:767.98px)"
            type="image/jpeg"
          />

          <img
            class="reviews__picture"
            src="./images/mobile/reviews-will_mobile.jpg"
            alt="foto Will"
          />
        </picture>

        <!-- test stars -->
        <div class="rating-result rating-result__reviews">
          <ul class="rating-result__list list">
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-0"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="reviews__name">Will</h3>
      </div>
      <div class="sleder__items">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews-john_desktop.jpg    1x,
              ./images/desktop/reviews-john_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/reviews-john_tablet.jpg    1x,
              ./images/tablet/reviews-john_tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/reviews-john_tablet.jpg    1x,
              ./images/tablet/reviews-john_tablet@2x.jpg 2x
            "
            media="(max-width:767.98px)"
            type="image/jpeg"
          />

          <img
            class="reviews__picture"
            src="./images/tablet/reviews-john_tablet.jpg"
            alt="foto Will"
          />
        </picture>

        <!-- test stars -->
        <div class="rating-result rating-result__reviews">
          <ul class="rating-result__list list">
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--unchecked">
                <use href="./images/icons.svg#icon-Star-0"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="reviews__name">John</h3>
      </div>

      <div class="sleder__items">
        <picture>
          <source
            srcset="
              ./images/desktop/reviews-elisabeth_desktop.jpg    1x,
              ./images/desktop/reviews-elisabeth_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/reviews-elisabeth_tablet.jpg    1x,
              ./images/tablet/reviews-elisabeth_tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/tablet/reviews-elisabeth_tablet.jpg    1x,
              ./images/tablet/reviews-elisabeth_tablet@2x.jpg 2x
            "
            media="(max-width:767.98px)"
            type="image/jpeg"
          />

          <img
            class="reviews__picture"
            src="./images/tablet/reviews-elisabeth_tablet.jpg"
            alt="foto Elisabeth"
          />
        </picture>

        <!-- test stars -->
        <div class="rating-result rating-result__reviews">
          <ul class="rating-result__list list">
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-1"></use>
              </svg>
            </li>
            <li class="rating-result__item">
              <svg class="rating-result__icon rating-result__icon--checked">
                <use href="./images/icons.svg#icon-Star-0"></use>
              </svg>
            </li>
          </ul>
        </div>
        <h3 class="reviews__name">Elisabeth</h3>
      </div>
    </div>
    <div class="reviews-text">
      <div>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
        the next one and highly recommend it to everyone!
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, amet? Eum qui
        eveniet, reprehenderit quibusdam odio dignissimos officia, asperiores ad nam hic tenetur
        recusandae nulla voluptate, natus neque vel. Deserunt!
      </div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatibus delectus
        consectetur impedit ratione adipisci sequi neque. Aliquid asperiores architecto quisquam
        quaerat, iusto id at ea, eius consectetur, voluptatem assumenda!
      </div>
    </div>
    <span class="reviews__number"></span>
  </div>
</section>
