
<div class="container slider">
    <div class="sleder__items"><img src="./images/slider/pic1.png" alt="">
        <p>Name</p>
        <p class="reviews">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ratione quam cum? Autem quod saepe fuga, numquam accusamus voluptas suscipit, quae, vero voluptatibus atque magni nemo iure! Animi, porro ipsa?</p>
    </div>
    <div class="sleder__items"><img src="./images/slider/pic2.png" alt="">
        <p>Name</p>
        <p class="reviews">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ratione quam cum? Autem quod saepe fuga, numquam accusamus voluptas suscipit, quae, vero voluptatibus atque magni nemo iure! Animi, porro ipsa?</p>
    </div>
    <div class="sleder__items"><img src="./images/slider/pic3.png" alt="">
        <p>Name</p>
        <p class="reviews">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore ratione quam cum? Autem quod saepe fuga, numquam accusamus voluptas suscipit, quae, vero voluptatibus atque magni nemo iure! Animi, porro ipsa?</p>
    </div>
    
  </div>
  <span class="pagingInfo"></span>
  