<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Reviews</h2>
    <picture>
      <source
        srcset="
          ./images/mobile/reviews-will_mobile.jpg    1x,
          ./images/mobile/reviews-will_mobile@2x.jpg 2x
        "
        media="(max-width:767.98px)"
        type="image/jpeg"
      />
      <img
        class="reviews__picture"
        src="./images/mobile/reviews-will_mobile.jpg"
        alt="foto Will"
        width="110"
      />
    </picture>
    <!-- test stars -->
    <div class="rating-result">
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
    </div>

    <h3 class="reviews__name">Will</h3>
    <p class="reviews__text">
      Last time I have visited a cooking course by Eva I was impressed with the way she explained
      everything to people. You can be sure you will manage to cook a delicious dish even if it is
      your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the
      next one and highly recommend it to everyone!
    </p>
    <span class="reviews__number">2/15</span>
  </div>
</section>
